/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}

#header {
    display: grid;
    grid-template-columns: 20% 48% 16% 16% ;
    padding: 1%;
}

#frameToView {
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

#frameSaveEdit {
    display: grid;
    grid-template-rows: 48% 4% 48%;
}

#content {
    display: grid;
    grid-template-columns: 15% 85%;    
    padding: 1%;
   
}

#tools {
    border: grey 2px;
    display: grid;
    grid-template-rows: 50% 15% 35%;  
    padding: 1%;
}

#frameChords {
    border: solid grey 2px;
    padding: 1%;
    margin: 1px;
    position: relative;
    overflow-y: auto;

}

.chordOption {
    border: dashed grey 2px;
    padding: 1%;
    margin: 1px;

}

#frameCustomChord {
    border: solid grey 2px;
    padding: 1%;
    margin: 1px;
    position: relative;
    display: grid;
    grid-template-rows: 40% 60%;

}

#frameCustomChordButton {
    margin: 1px;

}

#chordType {
    padding: 1%;
    margin: 2%;
    max-width: 80px;
    width: 80%; 
}

#chartContent{
    padding: 1%;
    border: solid grey 2px;
    margin-top: 2px;
    overflow: auto;
}

#frameOtherButtons {
    padding: 2%;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.toolItem {
    padding: 1%;
}

.measure {
    border-left: solid 2px;
    border-right: solid 2px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.measureChords, .measureLyrics {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 1em;
}

.chord {
    border: dashed darkgrey 1px;
    padding: 3px;
    margin: 2px;
}

.rowMeasures {
    padding: 1%;
    margin: 2px;
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5% 10%;
}

.mpr {
    margin-left: 3px;
    width: 75%;
}

#importLyrics, #addPageTurn, #addMeasure, #export {
    overflow-wrap: break-word;
    display: inline-block;
    white-space: normal;
    max-width: 70px;
    width: 95%;
    font-size: 1em;
}

#frameBpm {
    margin-top: 2px;
}