/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}

#header {
    display: grid;
    grid-template-columns: 20% 48% 16% 16% ;
    padding: 1%;
}

#frameToEdit {
    display: grid;
    grid-template-rows: 45% 10% 45%;
}

#frameLoad {
    display: grid;
    grid-template-rows: 45% 10% 45%;
}


#content {
  padding: 1%;
   
}


.measure {
    border-left: solid 2px;
    border-right: solid 2px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.measureChords, .measureLyrics {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 1em;
}

.chord {
    border: dashed darkgrey 1px;
    padding: 3px;
    margin: 2px;
}

.rowMeasures {
    padding: 1%;
    margin: 2px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#framePageNext {
    padding: 1%;
    margin: 3px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 15%;

}

#framePagePrev {
    padding: 1%;
    margin: 3px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 15%;
}

#pagePrev, #pageNext {
    width: 100%;
    height: 100%;
    background-color: lightsteelblue;
    opacity: 0.2;
    font-size: 4em;
    color: darkslategray;
    z-index: 0;
}

.pageButtonEnabled {
    display: "visible";

}

.pageButtonDisabled {
    display: "hidden";

}


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 68, 80, 0.5);
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s, transform 0.25s;
    z-index: 0;
}

.loadModal {

    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate (-15%, -50%);
    background-color: lightgray;
    border: solid  darkslategray;
    color: darkslategray;
    padding: 1rem 1.5rem;
    width: 24rem;
    visibility: hidden;
    z-index: -1;
        
}

.closeButton {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    visibility: hidden;

}

.showModal {
    opacity: 1;
    display: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0.25s, opacity 0.25s, transform 0.25s;
 
}

.alertModal {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate (-30%, -50%);
    background-color: white;
    border: solid green;
    color: grey;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 2rem;
    visibility: hidden;
    
}


.rowMeasures1 {
    padding: 1%;
    margin: 2px;
    display: grid;
    grid-template-columns: 100%;
}

.rowMeasures2 {
    padding: 1%;
    margin: 2px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.rowMeasures3 {
    padding: 1%;
    margin: 2px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.rowMeasures4 {
    padding: 1%;
    margin: 2px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.rowMeasures5 {
    padding: 1%;
    margin: 2px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rowMeasures6 {
    padding: 1%;
    margin: 2px;
    display: grid;
    grid-template-columns: 16.5% 16.5% 17% 17% 16.5% 16.5%;
}

.rowMeasures4 {
    padding: 1%;
    margin: 2px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}


.measureChords1, .measureLyrics1 {
    display: grid;
    grid-template-columns: 100%;
    font-size: 1em;
}

.measureChords2, .measureLyrics2 {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1em;
}

.measureChords3, .measureLyrics3 {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    font-size: 1em;
}

.measureChords4, .measureLyrics4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 1em;
}

.measureChords5, .measureLyrics5 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-size: 1em;
}

.measureChords6, .measureLyrics6 {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

.measureChords7, .measureLyrics7 {
    display: grid;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
    font-size: 1em;
}

.measureChords8, .measureLyrics8 {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 
        12.5% 12.5% 12.5% 12.5%;
    font-size: 1em;
}

.measureChords9, .measureLyrics9 {
    display: grid;
    grid-template-columns: 11.1% 11.1% 11.1% 11.1%
        11.1% 11.1% 11.1% 11.1% 11.1%;
    font-size: 1em;
}

.measureChords10, .measureLyrics10 {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 
        10% 10% 10% 10% 10%;
    font-size: 1em;
}

.measureChords11, .measureLyrics11 {
    display: grid;
    grid-template-columns: 9% 9% 9% 9% 9% 
        9% 9% 9% 9% 9% 9%;
    font-size: 1em;
}

.measureChords12, .measureLyrics12 {
    display: grid;
    grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3%
        8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;
    font-size: 1em;
}

.measureChords13, .measureLyrics13 {
    display: grid;
    grid-template-columns: 7.6% 7.6% 7.6% 7.6% 7.6% 
        7.6% 7.6% 7.6% 7.6% 7.6% 7.6% 7.6% 7.6%;
    font-size: 1em;
}
.measureChords14, .measureLyrics14 {
    display: grid;
    grid-template-columns: 7.1% 7.1% 7.1% 7.1% 7.1% 
    7.1% 7.1% 7.1% 7.1% 7.1% 7.1% 7.1% 7.1%;
    font-size: 1em;
}

.measureChords15, .measureLyrics15 {
    display: grid;
    grid-template-columns: 6.6% 6.6% 6.6% 6.6% 6.6% 6.6%
        6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6% 6.6%;
    font-size: 1em;
}

.measureChords16, .measureLyrics16 {
    display: grid;
    grid-template-columns: 6.2% 6.2% 6.2% 6.2% 6.2% 6.2%
        6.2% 6.2% 6.2% 6.2% 6.2% 6.2% 6.2% 6.2% 6.2% 6.2%;
    font-size: 1em;
}

.colorBox {
    display: inline-block;
    border: solid black 3px;
    width: 20px;
    padding: 3px;
    margin: 3px;
}

